#outer-box{
    width: 250px;
    height: 300px;
    position: relative;
    left: 250px;
    top: 100px;
    background-color: rgb(0, 0, 0);
    border-radius: 4px;
 }
.header-profile{
    width: 250px;
    height: 100px;
    background-color:rgb(201, 0, 0);
    border-radius: 4px;
}
img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
   position: relative;
   left:75px;
   bottom: 70px;
   border: 1px solid rgb(201, 0, 0);
}
.name{
    font-size: 20px;
    font-family: Arial;
    font-style: italic;
    position: relative;
    font-weight: bold;
    left: 60px;
    bottom:80px;
   color: rgb(201, 0, 0);
   letter-spacing: 2px;
}

.para{
    font-size: 10px;
    font-family: Arial;
    position: relative;
    font-weight: bold;
    left: 70px; 
    bottom: 90px; 
    color: rgb(201, 0, 0);
    /* letter-spacing: 1px; */

}
.social-icone{
    position: relative;
    left: 60px;
    bottom: 90px;
    display: flex;
    display: inline-block;
    font-size: 20px;
    color: rgb(201, 0, 0);
    padding: 5px;
}

.btn-one{
    font-size: 8px;
    font-family: Arial;
    position: relative;
    bottom: 60px;
    right: 75px;
    background-color:rgb(201, 0, 0);
    width:50px;
    border: none;
    border-radius: 30px;
    color: aliceblue;
    padding: 3px;
    cursor: pointer;
}
.btn-two{
    font-size: 8px;
    font-family: Arial;
    position: relative;
    bottom: 60px;
    left: -40px;
    background-color: rgb(201, 0, 0);
    width:50px;
    border: none;
    border-radius: 25px;
    color: aliceblue;
    padding: 3px;
    cursor: pointer;
}

.icon{
    position: relative;
    left: 40px;
    bottom: 65px;
    font-size: 10px;
    color: rgb(201, 0, 0);
}

.footer{
    position: relative;
    /* left: 10px; */
    bottom: 70px;
    font-size: 9px;
    color: rgb(201, 0, 0);  
    font-size: bold;
    letter-spacing: 1px;
    font-family: Arial;
    font-size: 6px; 
    text-align: center;
} 